<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" 
	xmlns="http://java.sun.com/xml/ns/javaee" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
	http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
	<filter>
	<filter-name>MyFilter</filter-name>
	<filter-class>com.xxl.ebook.utils.MyFilter</filter-class>
	</filter>
	<filter-mapping>
	<filter-name>MyFilter</filter-name>
	<url-pattern>/*</url-pattern>
	</filter-mapping>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>getallbooks</servlet-name>
    <servlet-class>com.xxl.ebook.action.GetAllBooks</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>getallbooksbycate</servlet-name>
    <servlet-class>com.xxl.ebook.action.GetAllBooksByCate</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>getrankinglist</servlet-name>
    <servlet-class>com.xxl.ebook.action.GetRankingList</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>getdownloadbooks</servlet-name>
    <servlet-class>com.xxl.ebook.action.GetDownloadBooks</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>GetSearch</servlet-name>
    <servlet-class>com.xxl.ebook.action.GetSearch</servlet-class>
  </servlet>





  <servlet-mapping>
    <servlet-name>getallbooks</servlet-name>
    <url-pattern>/getallbooks</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>getallbooksbycate</servlet-name>
    <url-pattern>/getallbooksbycate</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>getrankinglist</servlet-name>
    <url-pattern>/getrankinglist</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>getdownloadbooks</servlet-name>
    <url-pattern>/getdownloadbooks</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>GetSearch</servlet-name>
    <url-pattern>/getsearch</url-pattern>
  </servlet-mapping>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
</web-app>
